
body{
  //background-color: #ccc;
  background-color: black;

  .vertical{
    position: absolute;
    height: 100%;
    width: 1px;
    background-color: white;
    left: 100px;
  }
.navbarTop{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index:1;
  background-color: black;
  select{
    background-color: black;
    border: 0px solid black;
  }
    .nav-link{
      text-decoration: none;
      color: white;
    }
  .start{
    transform: rotate(-90deg);
    color: white;
    position:absolute;
    right: -26px;
    margin-top: 160px;

  }
  .navNumber{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height:25px;
  }

  /* Hide default HTML checkbox */
  .switch {
    input{
      opacity: 0;
      width: 0;
      height: 0;
    }
  }

  /* The slider */
  .slider {
    transform: rotate(-90deg);

  }


}
  .main{
    margin: 0 200px;

    .design{
      width: 335px;
      height: 33px;
      left: 195px;
      top: 129px;
      color: white;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 30px;
      line-height: 108.5%;
      /* identical to box height, or 33px */

      letter-spacing: 0.13em;
      text-transform: uppercase;
    }

    .line{
      height: 1px;
      margin-top: 40px;
      width: 80%;
      left: 100px;
      background-color: white;
    }
  .row{
    .col-6{
      .card{
        background-color: #FB1B3D;
        .absolutDiv{
          width: 75px;
          height: 75px;
          margin-left:300px;
          margin-top: -65px;
          background-color: white;
          color: black;
          font-weight: 500;
          text-align: center;
          border-radius: 50px;
        }
      }
      h2,h1,p{
        color: white;
      }
      p{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
      }
    }
  }
    .absolutH1{
      position: absolute;
      color: white;
      transform: rotate(-90deg);
      width: 196px;
      height: 43px;
      left: 91px;
      top: 665px;
      font-family: Body Grotesque;
      font-style: normal;
      font-weight: 800;
      font-size: 40px;
      line-height: 108.5%;
      letter-spacing: 0.13em;
      text-transform: uppercase;
      left: 30px;
    }


    form{
      input,textarea{
        background-color: black;
        //margin-top: 10px;
      }
      .label{

      }
    }
  }
  .absolutH2{
    position: absolute;
    color: white;
    transform: rotate(-90deg);
    width: 196px;
    height: 43px;
    left: 91px;
    top: 1565px;
    font-family: Body Grotesque;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 108.5%;
    letter-spacing: 0.13em;
    text-transform: uppercase;
    left: 30px;
  }

  .aboutP{
  bottom: 0;
  }
.aboutStart{
  position: absolute;
  background-color: #FB1B3D;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  //text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 500;
  margin-top: 100px;
  right: 30px;
  img{
    width: 60px;
  }
}
  .Main{
    .row{
      margin-top: 200px;
      color: white;
    }
    img{
      position: absolute;
      right: 80px;
      top: 50px;
    }
    .weRethink{
      width: 739px;
      height: 127px;
      left: 98px;
      top: 292.75px;
      font-family: "Apple Color Emoji";
      font-style: normal;
      font-weight: 300;
      font-size: 80px;
      line-height: 108.5%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
    .theWeb{
      width: 739px;
      height: 127px;
      left: 98px;
      top: 292.75px;
      //font-family:"Bodoni MT;
      font-style: normal;
      font-weight: 800;
      font-size: 80px;
      line-height: 108.5%;
      letter-spacing: 0.15em;
      text-transform: uppercase;
    }
    .absolutMain{
      position: absolute;
      width: 150px;
      height: 150px;
      background-color: #FB1B3D;
      border-radius: 50%;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
      font-size: 20px;
      top: 490px;
      left: 130px;
      img{
        width: 90px;
        top: 100px;
        left: 30px;
      }
    }
  }
  input{
    margin-top: 30px;
    border-radius: 0;
    width: 450px;
    height: 40px;
    border: 1px solid white;
    color: white;
  }
  textarea{
    margin-top: 30px;
    border-radius: 0;
    width: 450px;
    height: 80px;
    border: 1px solid white;
    color: white;

    //border-radius: 0;
    //width: 100%;
  }
    .label1{
      position: absolute;
      background-color: black;
      top: 20px;
      left:30px;
      padding: 0 10px;
      color: white;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 108.5%;
      letter-spacing: 0.105em;
    }
  .label2{
    position: absolute;
    background-color: black;
    top: 90px;
    left: 30px;
    padding: 0 10px;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 108.5%;
    letter-spacing: 0.105em;
  }
  .label3{
    position: absolute;
    background-color: black;
    top: 160px;
    left: 30px;
    padding: 0 10px;
    color: white;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 108.5%;
    letter-spacing: 0.105em;
  }
  .btn{
    background-color: #FB1B3D;
    color: white;
    //border: 0;
    border-radius: 0;
    width: 90px;
    font-weight: 500;
    margin-top: 30px;
    &:focus{
      background-color: white;
      color: #FB1B3D;
    }
  }
  .contactCard{
    background-color: black;
    border: 1px solid white;
  }
  .contactCard3{
    background-color: white;
  //color: black;
  }
}